<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs express</title>
  </head>
  <body>
    <h1>HOME PAGES</h1>
    <button><a href="/students">Student</a></button>
    <!-- <button><a href="/lecturers">Lecturer</a></button> -->
    <hr />
    <p>
      CODE.ID is a software development service company that focuses on helping
      clients turn their best ideas into a product, application, or website. We
      also provide IP Products, including Activo for Fixed Asset Management and
      Klaim for Claim System Management.
    </p>
  </body>
</html>
